<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Member Class Information</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form">
            <h1>ADD MEMBER CLASS INFORMATION</h1>
            <form action="/create/createMemberClassInfo" method="post" onsubmit="return checkClassIDs()">
                <label for="classID">Class ID: </label>
                <input type="text" id="classID" name ='classID' pattern="[1-9]+,[1-9]+,[1-9]+(,[1-9]+)*" placeholder="(e.g. 2,3,4)" required>
                <br>
                <button class ='createUserB' name="button" value="addMember" type="submit">Add Member</button>
            </form>
        </div>  
        <script> 
            //CHECK IF ALL IDS ARE UNIQUE TO PREVENT INSERTING SAME IDs
            function checkClassIDs() {
                var classIDInput = document.getElementById('classID').value;
                var classIDs = classIDInput.split(',');

                for(let i = 0; i < classIDs.length; i++){
                    for(let j = i+1; j < classIDs.length; j++){
                        if(classIDs[i] === classIDs[j]){
                            alert('Please ensure that every input is unique.');
                            return false;
                        }
                    }
                }
                return true;
            }
        </script>
    </body>
</html>
