<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Creation</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form">
            <h1>CREATE USER</h1>
            <form action="/create/member" method="post">
                <label for="title">Title:</label>
                <select name="title" id="title" required>
                    <option></option>
                    <option value="Mx">Mx</option>
                    <option value="Ms">Ms</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Dr">Dr</option>
                    <option value="other">Other (Specify)</option>
                </select>
                <label for="other"></label>
                <input type="text" id="otherInput" name ='otherInput' placeholder="Prof" required>
                
                <label for="fname">First Name(s):</label>
                <input type="text" id="fname" name ='fname' required>
                <label for="sname">Surname:</label>
                <input type="text" id="sname" name ='sname' required>
                <label for="email">Email:</label>
                <input type="email" id="email" name ='email' placeholder='my.example@myapp.local' required>
                <label for="premium">Premium Membership:</label>
                <input type="checkbox" id="premium" name="premium" value="true">
                <br>
                <button class ='createUserB' onclick="emailConvert()" name="button" value="createUser" type="submit">Create User</button>
            </form>
            <form action="/create/member" method="post">
                <button class ='createUserB'style="margin-top: 10px;"name="button" value="createUsers" type="submit">Create Random User</button>
            </form>
        </div>  

        <script>    
            const title = document.querySelectorAll("#title");
            const otherInput = document.getElementById("otherInput");

            //Making sure to make input field visible and required when title == other
            title.forEach(element => {
                element.addEventListener('change', () => {
                    if (element.value === "other") {
                        otherInput.style.visibility = "visible";
                        otherInput.setAttribute('required', true);
                    } else {
                        otherInput.style.visibility = "hidden";
                        otherInput.removeAttribute('required');
                        otherInput.value = '';
                    }
                });
            });

            //converts email to lowercase
            function emailConvert() {
                // Code to convert email address to lowercase
                const email = document.getElementById("email");
                email.value = email.value.toLowerCase();
            }


            function alertUsers(){
                alert('*NOTE* GYM CLASSES ARE MADE AUTOMATICALLY FOR MEMBER (ONLY 3)');
            }
        </script>
    </body>
</html>
