<!DOCTYPE html>
<html id="formHTML">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete Gym Class</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body id="formBody">
        <div id="form">
            <h1>DELETE GYM CLASS</h1>
            <form action="/delete/gymClass" method="post">
                <label for="classID">classID:</label>
                <input type="number" id="classID" name ='classID' min="1">
                <br>
                <button class ='createUserB' value="deleteM" id="deleteM" name="button" type="submit">Delete Gym Class</button>
            </form>
        </div>
    </body>
</html>
