<!DOCTYPE html>
<html id="formHTML">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Gym Class</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body id="formBody">
        <div id="form">
            <h1>UPDATE GYM CLASS</h1>
            <form action="/update/gymClass" method="post">
                <label for="classID">Class ID:</label>
                <input type="number" id="classID" name ='classID' min="1" required>
                <label for="name">Class Name:</label>
                <input type="text" id="name" name ='name' required>
                <label for="day">Day:</label>
                <input type="text" id="day" name ='day' required>
                <label for="classLength">Class Length:</label>
                <input type="number" id="classLength" name ='classLength' required>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required>
                <br>
                <button class ='createUserB' name="button" value="updateClass" type="submit">Update Gym Class</button>
            </form>
            <form action="/update/gymClass" method="post">
                <button class="createUserB" style="margin-top: 10px;" value="exampleB" name="button" type="submit">Update Random Gym Class</button>
            </form>
        </div>
    </body>
</html>
