<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form" style="text-align: center;">
            <form action="/create/member" method="get">
                <button class="createMainB" id="createMember">CREATE MEMBER</button>
            </form>
            <form action="/create/gymClass" method="get">
                <button class="createMainB" id="gymClass">CREATE GYM CLASS</button>
            </form>
        </div>
    </body>
</html>
