<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Management Application</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="home">
            <form action="/createUser" method="get">
                <button class="B" id="createU">CREATE USER</button>
            </form>
            <form action="/searchUser" method="get">
                <button class="B" id="createS">SEARCH USER</button>
            </form>
        </div>
    </body>
</html>
