<!DOCTYPE html>
<html id="formHTML">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Creation</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body id="formBody">
        <div id="form">
            <h1>Create User</h1>
            <form action="/searchUser" method="post">
                <label for="fname">First Name(s):</label>
                <input type="text" id="fname" name ='fname'>
                <label for="sname">Surname:</label>
                <input type="text" id="sname" name ='sname'>
                <br>
                <button class ='createUserB' value="searchB" id="searchB" name="button" type="submit">Search</button>
                <button class="createUserB" class='createB' value="exampleB" id="exampleB" name="button" type="submit">Example Search</button>
                <button class="createUserB" class='createB' value="searchAllB" id="searchAllB" name="button" type="submit">Search All</button>
            </form>
        </div>
    </body>
</html>
