<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Creation</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form">
            <h1>Create User</h1>
            <form action="/createUser" method="post">
                <label for="title">Title:</label>
                <select name="title" id="title" required>
                    <option></option>
                    <option value="mx">Mx</option>
                    <option value="ms">Ms</option>
                    <option value="mr">Mr</option>
                    <option value="mrs">Mrs</option>
                    <option value="miss">Miss</option>
                    <option value="dr">Dr</option>
                    <option value="other">Other (Specify)</option>
                </select>
                <label for="other"></label>
                <input type="text" id="otherInput" name ='otherInput' placeholder="Prof" required>
                
                <label for="fname">First Name(s):</label>
                <input type="text" id="fname" name ='fname' required>
                <label for="sname">Surname:</label>
                <input type="text" id="sname" name ='sname' required>
                <label for="mobileNO">Mobile Number:</label>
                <input type="text" id="mobileNO" name ='mobile' required>
                <label for="email">Email:</label>
                <input type="email" id="email" name ='email' required>
                <label for="address1">Address Line 1:</label>
                <input type="text" id="address1" name ='address1' required>
                <label for="address2">Address Line 2:</label>
                <input type="text" id="address2" name ='address2'>
                <label for="town">City/Town:</label>
                <input type="text" id="town" name ='town' required>
                <label for="city">County:</label>
                <input type="text" id="city" name ='city' required>
                <label for="eircode">Eircode:</label>
                <input type="text" id="eircode" name ='eircode'>
                <label for="ship">Other Shipping Address:</label>
                <input type="checkbox" id="ship" name="ship" value="ship">
                <br>
                <button class ='createUserB' name="button" value="createUser" type="submit">Create User</button>
            </form>
            <form action="/createUser" method="post">
                <button class ='createUserB' style="margin-top: 10px;"name="button" value="createUsers" type="submit">Create 10 Random Users</button>
            </form>
        </div>
        

        <script>    
            const title = document.querySelectorAll("#title");
            const otherInput = document.getElementById("otherInput");
            title.forEach((element) => {
                element.addEventListener('change', () => {
                    if (element.value === "other") {
                        otherInput.style.visibility = "visible";
                        otherInput.setAttribute('required', true);
                    } else {
                        otherInput.style.visibility = "hidden";
                        otherInput.removeAttribute('required');
                        otherInput.value = '';
                    }
                });
            });
        </script>
    </body>
</html>
