<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Management Application</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form" style="text-align: center;">
            <form action="/update/member" method="get">
                <button class="createMainB" id="updateA">UPDATE MEMBER DATA</button>
            </form>
            <form action="/update/gymClass" method="get">
                <button class="createMainB" id="updateS">UPDATE GYM CLASS</button>
            </form>
            <form action="/update/memberClassInfo" method="get">
                <button class="createMainB" id="memberClassInfo">UPDATE MEMBER CLASS INFORMATION</button>
            </form>
        </div>
    </body>
</html>
